<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>807485712</string>
		<key>message</key>
		<string>Hey Check out this super duper radical App by @99centbrains</string>
	</dict>
	<dict>
		<key>id</key>
		<string>967807794</string>
		<key>message</key>
		<string>Hey Check out this super duper radical App by @99centbrains</string>
	</dict>
</array>
</plist>
